$LV-D-DESKTOP-HEADER-OFFSET: 2vh;

$DESKTOP_MODES: (
    MAIN: (
        LV-D-DESKTOP-SLIM-SIDES_PADDINGS: 0vh,
        LV-D-DESKTOP-HEADER-OFFSET: $LV-D-DESKTOP-HEADER-OFFSET,
        LV-D-DESKTOP-HEADER-SIDES_PADDINGS: 0vh,
        LV-D-DESKTOP-WIDTH: 120vh,

        LV-D-HEADER-SIDE_LEFT: 8vh,
        LV-D-HEADER-SIDE_RIGHT: 6vh,
        LV-D-HEADER-CARCASS-COLUMN_GAP_MULTIPLIER: 2,
        LV-D-HEADER-LOGO-DISPLAY_FULL: unset,
        LV-D-HEADER-LOGO-DISPLAY_COMPACT: none,
        LV-D-HEADER-TEXT-DISPLAY_IMPORTANT: unset,

        LV-D-FOOTER-POLES_PADDINGS: 12vh,
        LV-D-FOOTER-LOGO_HEIGHT: 10vh
    ),
    SLIM: (
        LV-D-DESKTOP-SLIM-SIDES_PADDINGS: $LV-D-DESKTOP-HEADER-OFFSET,
        LV-D-DESKTOP-HEADER-OFFSET: $LV-D-DESKTOP-HEADER-OFFSET,
        LV-D-DESKTOP-HEADER-SIDES_PADDINGS: $LV-D-DESKTOP-HEADER-OFFSET,
        LV-D-DESKTOP-WIDTH: 100vw,

        LV-D-HEADER-SIDE_LEFT: 6vh,
        LV-D-HEADER-SIDE_RIGHT: 4vh,
        LV-D-HEADER-CARCASS-COLUMN_GAP_MULTIPLIER: 4,
        LV-D-HEADER-LOGO-DISPLAY_FULL: none,
        LV-D-HEADER-LOGO-DISPLAY_COMPACT: unset,
        LV-D-HEADER-TEXT-DISPLAY_IMPORTANT: none,

        LV-D-FOOTER-POLES_PADDINGS: 12vh,
        LV-D-FOOTER-LOGO_HEIGHT: 8vh
    ),
);
