// DEV RENDERING
$DEV-BORDER: 0.2vh;



// SH1FT PALETTE
$PALETTE-GLASS: oklch(1 0 0 / 0%);

$PALETTE-VOID: oklch(0 0 0 / 100%);
$PALETTE-SNOW: oklch(1 0 0 / 100%);

$PALETTE-BLACK: oklch(0.3265 0.0127 252.99 / 100%);
$PALETTE-BLACK_HOVER: oklch(0.3265 0.0127 252.99 / 70%);

$PALETTE-WHITE_HOVER: oklch(1 0 0 / 90%);
$PALETTE-WHITE_GREEN: oklch(0.9754 0.036 160.67 / 100%);
$PALETTE-WHITE_BLUE: oklch(0.9577 0.0199 267.29 / 100%);

$PALETTE-DARK_GREEN: oklch(0.6051 0.1384 159.32 / 100%);
$PALETTE-LIGHT_GREEN: oklch(0.8325 0.1842 154.43 / 100%);
$PALETTE-LIGHT_GREEN_HOVER: oklch(0.8325 0.1842 154.43 / 80%);

$PALETTE-DARK_BLUE: oklch(0.6385 0.1954 257.48 / 100%);
$PALETTE-DARK_BLUE_HOVER: oklch(0.6385 0.1954 257.48 / 80%);
$PALETTE-DARK_BLUE_PALE: oklch(0.7407 0.1354 256.19 / 100%);

$PALETTE-DEEP_BLUE: oklch(0.393 0.1501 258.69 / 100%);



// DESKTOP
$GV-D-EXAMPLE: 'Example variable';

$GV-D-FONT_SIZES-REFERENCE: 1.65vh;
$GV-D-FONT_SIZES-SMALL: calc($GV-D-FONT_SIZES-REFERENCE * 0.9);
$GV-D-FONT_SIZES-DEFAULT: $GV-D-FONT_SIZES-REFERENCE;
$GV-D-FONT_SIZES-H3: calc($GV-D-FONT_SIZES-REFERENCE * 2);
$GV-D-FONT_SIZES-H2: calc($GV-D-FONT_SIZES-REFERENCE * 3.2);
$GV-D-FONT_SIZES-H1: calc($GV-D-FONT_SIZES-REFERENCE * 4);

$GV-D-SIZES-REFERENCE: 3.8vh;
$GV-D-SIZES-SMALL: 1.9vh;
$GV-D-SIZES-DEFAULT: 3.5vh;
$GV-D-SIZES-INNER_PADDING: 5.0vh;
$GV-D-SIZES-SECTIONS: 5.0vh;
$GV-D-SIZES-H2_CONTENT: 7.0vh;
$GV-D-SIZES-UNDER_SECTIONS: $GV-D-SIZES-SMALL / 2.5;

$GV-D-ROUNDING-SMALL: 1.2vh;
$GV-D-ROUNDING-ELEMENTS: 1.8vh;
$GV-D-ROUNDING-SECTIONS: 2.8vh;
$GV-D-ROUNDING-BLOCKS: 5vh;
$GV-D-ROUNDING-MAXIMUM: 999vh;

$GV-D-CORE-HEADER_HEIGHT: 6.7vh;
$GV-D-CORE-CONTENT_WIDTH: 120vh;
$GV-D-CORE-CONTENT_WIDTH_EXTRA: 131vh;



// MOBILE
$GV-M-EXAMPLE: 'Example variable';
